# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/public/system
/db/development.sqlite3

# Ignore Byebug command history file.
.byebug_history

# Ignore environment variables
.env