<div class="page-wapper o-wrapper" id="o-wrapper">
  <div class="container">
    <div class="row justify-content-md-end">
      <div class="col-xs-12 col-sm-12 col-md-12 make-small">
        <div class="logout-panel">
          <div class="logout-icon"><%= image_tag "loguot-icon.png" %></div>
          <p>
            Thank you for using Riversand Data Platform Help Centre.<br>
            You've successfully logged out from the system.<br>
            Please <%= link_to "click here", ENV.fetch('LOGIN_SITE_URL') + "/client_login" %> to login again<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>