<div class="left-panel">
                	<div id="developerTab">
                        <ul class="resp-tabs-list hor_1">
                            <li>Products</li>
                            <li>Docs</li>
                            <li>Tools & Support</li>
                            <li>Videos</li>
                        </ul>
                        <div class="resp-tabs-container hor_1">
                        
                            <div>
                                <div class="row">
                                    
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                    	<h4 class="main-tittle">Explore our Developer Products</h4>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 same-height">
                                    	
                                    	<div class="full-box">
                                        	
                                            <div class="loop-box">
                                        		<h3 class="title">Build</h3>
                                                <div class="body-text">
                                                <ul class="blue-txt">
                                                	<li>Getting Started including Data Classification and Data Framework Architecture</li> 
                                                    
                                                    <li>Using the API</li> 
                                                    
                                                    <li>Diagnostic Tracing and Reports</li>
                                                    
                                                    <li>Upgrading SDK</li>
                                                    
                                                    <li>Integrating with Tools</li>
                                                    
                                                    <li>Downloads</li>
                                                    
                                                    <li>FAQs</li>
                                                    
                                                    <li>Release Notes</li>
                                                </ul>
                                                </div>
                                                <a class="blue-button" href="#">Learn More</a>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="col-xs-12 col-sm-3 col-md-3 same-height">
                                    	<div class="full-box blue-border">
                                        	
                                            <div class="loop-box">
                                        		<h3 class="title">Analytics</h3>
                                                <div class="body-text">
                                                <ul class="blue-txt">
                                                	<li>Getting Started including Data Classification and Data Framework Architecture</li> 
                                                    
                                                    <li>Using the API</li> 
                                                    
                                                    <li>Diagnostic Tracing and Reports</li>
                                                    
                                                    <li>Upgrading SDK</li>
                                                    
                                                    <li>Integrating with Tools</li>
                                                    
                                                    <li>Downloads</li>
                                                    
                                                    <li>FAQs</li>
                                                    
                                                    <li>Release Notes</li>
                                                </ul>
                                                </div>
                                                <a class="blue-button" href="#">Learn More</a>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="col-xs-12 col-sm-3 col-md-3 same-height">
                                    	<div class="full-box purple-border">
                                        	
                                            <div class="loop-box">
                                        		<h3 class="title">Verticals</h3>
                                                <div class="body-text">
                                                <ul class="blue-txt">
                                                	<li>Getting Started including Data Classification and Data Framework Architecture</li> 
                                                    
                                                    <li>Using the API</li> 
                                                    
                                                    <li>Diagnostic Tracing and Reports</li>
                                                    
                                                    <li>Upgrading SDK</li>
                                                    
                                                    <li>Integrating with Tools</li>
                                                    
                                                    <li>Downloads</li>
                                                    
                                                    <li>FAQs</li>
                                                    
                                                    <li>Release Notes</li>
                                                </ul>
                                                </div>
                                                <a class="blue-button" href="#">Learn More</a>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="col-xs-12 col-sm-3 col-md-3 same-height">
                                    	<div class="full-box orange-border">
                                        	
                                            <div class="loop-box">
                                        		<h3 class="title">Programs</h3>
                                                <div class="body-text">
                                                <ul class="blue-txt">
                                                	<li>Getting Started including Data Classification and Data Framework Architecture</li> 
                                                    
                                                    <li>Using the API</li> 
                                                    
                                                    <li>Diagnostic Tracing and Reports</li>
                                                    
                                                    <li>Upgrading SDK</li>
                                                    
                                                    <li>Integrating with Tools</li>
                                                    
                                                    <li>Downloads</li>
                                                    
                                                    <li>FAQs</li>
                                                    
                                                    <li>Release Notes</li>
                                                </ul>
                                                </div>
                                                <a class="blue-button" href="#">Learn More</a>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div>
                                <div class="row">
                                    
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                    	<h4 class="main-tittle">Explore our Developer’s Documentation</h4>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 same-height">
                                    	
                                    	<div class="full-box">
                                        	
                                            <div class="loop-box">
                                        		<h3 class="title">Product Docs</h3>
                                                <div class="body-text">
                                                <ul class="blue-txt">
                                                	<li>Getting Started including Data Classification and Data Framework Architecture</li> 
                                                    
                                                    <li>Using the API</li> 
                                                    
                                                    <li>Diagnostic Tracing and Reports</li>
                                                    
                                                    <li>Upgrading SDK</li>
                                                    
                                                    <li>Integrating with Tools</li>
                                                    
                                                    <li>Downloads</li>
                                                    
                                                    <li>FAQs</li>
                                                    
                                                    <li>Release Notes</li>
                                                </ul>
                                                </div>
                                                <a class="blue-button" href="#">Learn More</a>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="col-xs-12 col-sm-3 col-md-3 same-height">
                                    	<div class="full-box blue-border">
                                        	
                                            <div class="loop-box">
                                        		<h3 class="title">SDKs</h3>
                                                <div class="body-text">
                                                <ul class="blue-txt">
                                                	<li>Getting Started including Data Classification and Data Framework Architecture</li> 
                                                    
                                                    <li>Using the API</li> 
                                                    
                                                    <li>Diagnostic Tracing and Reports</li>
                                                    
                                                    <li>Upgrading SDK</li>
                                                    
                                                    <li>Integrating with Tools</li>
                                                    
                                                    <li>Downloads</li>
                                                    
                                                    <li>FAQs</li>
                                                    
                                                    <li>Release Notes</li>
                                                </ul>
                                                </div>
                                                <a class="blue-button" href="#">Learn More</a>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="col-xs-12 col-sm-3 col-md-3 same-height">
                                    	<div class="full-box purple-border">
                                        	
                                            <div class="loop-box">
                                        		<h3 class="title">APIs & Reference Guide</h3>
                                                <div class="body-text">
                                                <ul class="blue-txt">
                                                	<li>Getting Started including Data Classification and Data Framework Architecture</li> 
                                                    
                                                    <li>Using the API</li> 
                                                    
                                                    <li>Diagnostic Tracing and Reports</li>
                                                    
                                                    <li>Upgrading SDK</li>
                                                    
                                                    <li>Integrating with Tools</li>
                                                    
                                                    <li>Downloads</li>
                                                    
                                                    <li>FAQs</li>
                                                    
                                                    <li>Release Notes</li>
                                                </ul>
                                                </div>
                                                <a class="blue-button" href="#">Learn More</a>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="col-xs-12 col-sm-3 col-md-3 same-height">
                                    	<div class="full-box orange-border">
                                        	
                                            <div class="loop-box">
                                        		<h3 class="title">Platforms</h3>
                                                <div class="body-text">
                                                <ul class="blue-txt">
                                                	<li>Getting Started including Data Classification and Data Framework Architecture</li> 
                                                    
                                                    <li>Using the API</li> 
                                                    
                                                    <li>Diagnostic Tracing and Reports</li>
                                                    
                                                    <li>Upgrading SDK</li>
                                                    
                                                    <li>Integrating with Tools</li>
                                                    
                                                    <li>Downloads</li>
                                                    
                                                    <li>FAQs</li>
                                                    
                                                    <li>Release Notes</li>
                                                </ul>
                                                </div>
                                                <a class="blue-button" href="#">Learn More</a>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div>
                                
                                <div class="row">
                                    
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                    	<h4 class="main-tittle">Explore our Developer’s Tools & Support</h4>
                                    </div>
                                    
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                    	<div class="sp-table">
                                    	<table class="table">
                                              <thead>
                                                <tr>
                                                  <th>
                                                  	<h4>Tools</h4>
                                                    <p>Test and debug your app.</p>
                                                  </th>
                                                  <th><h4>Support Group</h4></th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                  <th scope="row">
                                                  	<h4>API Explorer</h4>
                                                    <p>Test, create, and authenticate API calls and debug responses.</p>
                                                  </th>
                                                  <td>
                                                  	E  : support@riversand.com<br>
                                                    M : +91 9845698456<br>
                                                    T  :  1800-1234-5678
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <th scope="row">
                                                  	<h4>Debug Tool</h4>
                                                    <p>Make sure your API or any integration is set up correctly and receiving data.</p>
                                                  </th>
                                                  <td>
                                                  	E  : support@riversand.com<br>
                                                    M : +91 9845698456<br>
                                                    T  :  1800-1234-5678
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <th scope="row">
                                                  	<h4>API Upgrade Tool</h4>
                                                    <p>See which API calls are affected by changes in newer versions of the API and learn what changes you need to make to upgrade.</p>
                                                  </th>
                                                  <td>
                                                  	E  : support@riversand.com<br>
                                                    M : +91 9845698456<br>
                                                    T  :  1800-1234-5678
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <th scope="row">
                                                  	<h4>Analytics</h4>
                                                    <p>Understand your audience and the performance of your app.</p>
                                                  </th>
                                                  <td>
                                                  	E  : support@riversand.com<br>
                                                    M : +91 9845698456<br>
                                                    T  :  1800-1234-5678
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <th scope="row">
                                                  	<h4>SDK Console</h4>
                                                    <p>A testing environment for the RDP SDK for Javascript.</p>
                                                  </th>
                                                  <td>
                                                  	E  : support@riversand.com<br>
                                                    M : +91 9845698456<br>
                                                    T  :  1800-1234-5678
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                            </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            
                            
                            <div id="video-tab">
                                
                                <div class="row">
                                    
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                    	<h4 class="main-tittle">Know our Developer’s Experience</h4>
                                    </div>
                                    
                                    
                                    
                                </div>
                                
                                <div id="sp-scroll">
                                <div class="row video-row">
                                            <div class="col-xs-12 col-sm-3 col-md-3">
                                                <a class="play-bt" href="#" data-url="https://www.youtube.com/embed/387uKiVMWg4" data-toggle="modal" data-target="#video_modal"><img src="/assets/play-bt.png" width="47" height="47"></a>
                                                <div class="video-img"><img src="/assets/v1.jpg" width="236" height="236"></div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3">
                                            	<a class="play-bt" href="#" data-url="https://www.youtube.com/embed/387uKiVMWg4" data-toggle="modal" data-target="#video_modal"><img src="/assets/play-bt.png" width="47" height="47"></a>
                                                <div class="video-img">
                                                <img src="/assets/v2.jpg" width="236" height="236">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                            	<a class="play-bt" href="#" data-url="https://www.youtube.com/embed/387uKiVMWg4" data-toggle="modal" data-target="#video_modal"><img src="/assets/play-bt.png" width="47" height="47"></a>
                                                <div class="video-img">
                                                <img src="/assets/v3.jpg" width="236" height="236">
                                                </div>
                                            </div>
                                            
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                            	<a class="play-bt" href="#" data-url="https://www.youtube.com/embed/387uKiVMWg4" data-toggle="modal" data-target="#video_modal"><img src="/assets/play-bt.png" width="47" height="47"></a>
                                                <div class="video-img">
                                                <img src="/assets/v3.jpg" width="236" height="236">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3">
                                                <a class="play-bt" href="#" data-url="https://www.youtube.com/embed/387uKiVMWg4" data-toggle="modal" data-target="#video_modal">
                                                <div class="video-img">
                                                <img src="/assets/play-bt.png" width="47" height="47"></a><img src="/assets/v1.jpg" width="236" height="236">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3">
                                            	<a class="play-bt" href="#" data-url="https://www.youtube.com/embed/387uKiVMWg4" data-toggle="modal" data-target="#video_modal"><img src="/assets/play-bt.png" width="47" height="47"></a>
                                                <div class="video-img">
                                                <img src="/assets/v2.jpg" width="236" height="236">
                                                </div>
                                            </div>
                                            
                                            <div class="col-xs-12 col-sm-3 col-md-3">
                                                <a class="play-bt" href="#" data-url="https://www.youtube.com/embed/387uKiVMWg4" data-toggle="modal" data-target="#video_modal"><img src="/assets/play-bt.png" width="47" height="47"></a>
                                                <div class="video-img"><img src="/assets/v1.jpg" width="236" height="236"></div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3">
                                            	<a class="play-bt" href="#" data-url="https://www.youtube.com/embed/387uKiVMWg4" data-toggle="modal" data-target="#video_modal"><img src="/assets/play-bt.png" width="47" height="47"></a>
                                                <div class="video-img">
                                                <img src="/assets/v2.jpg" width="236" height="236">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                            	<a class="play-bt" href="#" data-url="https://www.youtube.com/embed/387uKiVMWg4" data-toggle="modal" data-target="#video_modal"><img src="/assets/play-bt.png" width="47" height="47"></a>
                                                <div class="video-img">
                                                <img src="/assets/v3.jpg" width="236" height="236">
                                                </div>
                                            </div>
                                            
                                        </div>
                                </div>
								                                
                            </div>
                            
                        </div>
                    </div>
                    
                </div>