<div class="padding-content">
                    	<h2>RDP Apps for Administrators</h2>
                        <div class="get-content">
                        	<h3>Get Started</h3>
                            <ul class="get-ul">
                            	<li>
                                	<div class="get-block">
                                    	<a href="#">
                                    	<div class="center-block">
                                            <figure><img src="/assets/gs1.png" width="100" height="60"></figure>
                                            <figcaption>Getting Started</figcaption>
                                        </div>
                                        </a>
                                    </div>
                              	</li>
                                <li>
                                	<div class="get-block">
                                    	<a href="#">
                                    	<div class="center-block">
                                            <figure><img src="/assets/gs2.png" width="100" height="60"></figure>
                                            <figcaption>Setup & Install</figcaption>
                                        </div>
                                        </a>
                                    </div>
                              	</li>
                                <li>
                                	<div class="get-block">
                                    	<a href="#">
                                    	<div class="center-block">
                                            <figure><img src="/assets/gs3.png" width="100" height="60"></figure>
                                            <figcaption>Get familiarise with App UI</figcaption>
                                        </div>
                                        </a>
                                    </div>
                              	</li>
                                <li>
                                	<div class="get-block">
                                    	<a href="#">
                                    	<div class="center-block">
                                            <figure><img src="/assets/gs4.png" width="100" height="60"></figure>
                                            <figcaption>Release notes</figcaption>
                                        </div>
                                        </a>
                                    </div>
                              	</li>
                            </ul>
                        </div>
                        
                        <div class="get-content">
                        	<h3>Administrative Tasks</h3>
                            <ul class="get-ul">
                            	<li>
                                	<div class="get-block">
                                    	<a href="#">
                                    	<div class="center-block">
                                            <figure><img src="/assets/at1.png" width="100" height="60"></figure>
                                            <figcaption>Configure variuos apps, layouts, menu’s, dashets, Business rules & more..</figcaption>
                                        </div>
                                        </a>
                                    </div>
                              	</li>
                                <li>
                                	<div class="get-block">
                                    	<a href="#">
                                    	<div class="center-block">
                                            <figure><img src="/assets/at2.png" width="100" height="60"></figure>
                                            <figcaption>Create new users & groups & granting permissisons to application & data & more..</figcaption>
                                        </div>
                                        </a>
                                    </div>
                              	</li>
                                <li>
                                	<div class="get-block">
                                    	<a href="#">
                                    	<div class="center-block">
                                            <figure><img src="/assets/at3.png" width="100" height="60"></figure>
                                            <figcaption>Upload data model</figcaption>
                                        </div>
                                        </a>
                                    </div>
                              	</li>
                                <li>
                                	<div class="get-block">
                                    	<a href="#">
                                    	<div class="center-block">
                                            <figure><img src="/assets/at4.png" width="100" height="60"></figure>
                                            <figcaption>Import & export data</figcaption>
                                        </div>
                                        </a>
                                    </div>
                              	</li>
                                
                                <li>
                                	<div class="get-block">
                                    	<a href="#">
                                    	<div class="center-block">
                                            <figure><img src="/assets/at5.png" width="100" height="60"></figure>
                                            <figcaption>Monitor batch jobs</figcaption>
                                        </div>
                                        </a>
                                    </div>
                              	</li>
                                <li>
                                	<div class="get-block">
                                    	<a href="#">
                                    	<div class="center-block">
                                            <figure><img src="/assets/at6.png" width="100" height="60"></figure>
                                            <figcaption>Design workflows</figcaption>
                                        </div>
                                        </a>
                                    </div>
                              	</li>
                                <li>
                                	<div class="get-block">
                                    	<a href="#">
                                    	<div class="center-block">
                                            <figure><img src="/assets/at7.png" width="100" height="60"></figure>
                                            <figcaption>Define dynamic governance policies</figcaption>
                                        </div>
                                        </a>
                                    </div>
                              	</li>
                            </ul>
                        </div>
                        
                        <div class="get-content">
                        	<h3>All Apps to Manage Business</h3>
                            <ul class="get-ul">
                            	<li>
                                	<div class="get-block">
                                    	<a href="#">
                                    	<div class="center-block">
                                            <figure><img src="/assets/mb1.png" width="100" height="60"></figure>
                                            <figcaption>User Dashboard App Manage your tasks</figcaption>
                                        </div>
                                        </a>
                                    </div>
                              	</li>
                                <li>
                                	<div class="get-block">
                                    	<a href="#">
                                    	<div class="center-block">
                                            <figure><img src="/assets/mb2.png" width="100" height="60"></figure>
                                            <figcaption>Entity search & Refine App Search your data</figcaption>
                                        </div>
                                        </a>
                                    </div>
                              	</li>
                                <li>
                                	<div class="get-block">
                                    	<a href="#">
                                    	<div class="center-block">
                                            <figure><img src="/assets/mb3.png" width="100" height="60"></figure>
                                            <figcaption>Asset search & Refine App Search your digital assets</figcaption>
                                        </div>
                                        </a>
                                    </div>
                              	</li>
                                <li>
                                	<div class="get-block">
                                    	<a href="#">
                                    	<div class="center-block">
                                            <figure><img src="/assets/mb4.png" width="100" height="60"></figure>
                                            <figcaption>Reference search & Refine App Manage your reference data</figcaption>
                                        </div>
                                        </a>
                                    </div>
                              	</li>
                                
                                <li>
                                	<div class="get-block">
                                    	<a href="#">
                                    	<div class="center-block">
                                            <figure><img src="/assets/mb5.png" width="100" height="60"></figure>
                                            <figcaption>Entity Manage App Manage your data</figcaption>
                                        </div>
                                        </a>
                                    </div>
                              	</li>
                                
                                
                            </ul>
                        </div>
                        
                    </div>