<div class="welocme-block">
	<figcaption>
		<h2>Welcome to Riversand's Data Platform Help Center!</h2>
    <p>
    Riversand's Data Platform is a new innovative next generation Master Data Management (MDM 2.0) that focuses to provide Relevance, Trust, and Insights for your master data through various components of the Data Continuum such as Governance, Analytics, Inferences, and Insights.
    </p>
    <a href="#">Learn More</a>
  </figcaption>
  <figure><img src="assetscardgraphic.svg"></figure>
</div>
<div class="nav-holder">
	<div id="paragraphs">
    	<div data-id="developers-users">
        <div class="info">
        	<div class="pull-right">
            <h2>Developers<br>Users</h2>
            <span><img src="assets/nav-arrow.png" width="32" height="32"></span>
          </div>
        </div>
        <div class="big-info">
        	<div class="sp-right">
            <h2>Developers</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque facilisis.</p>
            <a href="developers.html">Learn More</a>
          </div>
        </div>
      </div>
      <div data-id="business-users">
        <div class="info">
        	<div class="pull-right">
            <h2>Business<br>Users</h2>
            <span><img src="assetsnav-arrow.png" width="32" height="32"></span>
            </div>
        </div>
        <div class="big-info">
        	<div class="sp-right">
            <h2>Business Users</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque facilisis.</p>
            <a href="business_users.html">Learn More</a>
            </div>
        </div>
      </div>
      <div data-id="business-admins">
        <div class="info">
        	<div class=" pull-right">
            <h2>Business<br>Admins</h2>
            <span><img src="assetsnav-arrow.png" width="32" height="32"></span>
            </div>
        </div>
        <div class="big-info">
        	<div class="sp-right">
            <h2>Business Admins</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque facilisis.</p>
            <a href="business_admins.html">Learn More</a>
            </div>
        </div>
      </div>
  </div>
  <div class="nav-content-holder">
  	<div id="developers-users">
    	<ul>
      	<li>
          <div class="link-box">
            <h2>RDF – SDK</h2>
            <h3>Build business logic to manage your data!</h3>
            <ul>
              <li>Getting Started including Data Classification and Data Framework Architecture</li>
              <li>Using the API</li>
              <li>Diagnostic Tracing and Reports</li>
              <li>Upgrading SDK</li>
              <li>Integrating with Tools</li>
              <li>Downloads</li>
              <li>FAQs</li>
              <li>Release Notes</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="link-box">
            <h2>RUF – SDK</h2>
            <h3>Develop user interface for next generation web apps!</h3>
            <ul>
              <li>Getting Started including UI Framework Architecture</li>
              <li>Using UI Framework Components</li>
              <li>Using UI Integration Framework</li>
              <li>Build Custom Apps</li>
              <li>Troubleshooting</li>
              <li>Upgrading SDK</li>
              <li>Integrating with Tools</li>
              <li>Downloads</li>
              <li>FAQs</li>
              <li>Release Notes</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="link-box">
            <h2>APIs</h2>
            <h3>Build business logic to manage your data!</h3>
            <ul>
              <li>Getting Started</li>
              <li>Pre-requisites for API Development</li>
              <li>Supported Services</li>
              <li>API Testing</li>
              <li>API Error Handling & Troubleshooting</li>
              <li>Supported Services</li>
              <li>API Testing</li>
              <li>API Error Handling & Troubleshooting</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div id="business-users">
    	<ul>
      	<li>
          <div class="link-box">
            <h2>RDF – SDK</h2>
            <h3>Build business logic to manage your data!</h3>
            <ul>
              <li>Getting Started including Data Classification and Data Framework Architecture</li>
              <li>Using the API</li>
              <li>Diagnostic Tracing and Reports</li>
              <li>Upgrading SDK</li>
              <li>Integrating with Tools</li>
              <li>Downloads</li>
              <li>FAQs</li>
              <li>Release Notes</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="link-box">
            <h2>RDF – SDK</h2>
            <h3>Develop user interface for next generation web apps!</h3>
            <ul>
              <li>Getting Started including UI Framework Architecture</li>
              <li>Using UI Framework Components</li>
              <li>Using UI Integration Framework</li>
              <li>Build Custom Apps</li>
              <li>Troubleshooting</li>
              <li>Upgrading SDK</li>
              <li>Integrating with Tools</li>
              <li>Downloads</li>
              <li>FAQs</li>
              <li>Release Notes</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="link-box">
            <h2>APIs</h2>
            <h3>Build business logic to manage your data!</h3>
            <ul>
              <li>Getting Started</li>
              <li>Pre-requisites for API Development</li>
              <li>Supported Services</li>
              <li>API Testing</li>
              <li>API Error Handling & Troubleshooting</li>
              <li>Supported Services</li>
              <li>API Testing</li>
              <li>API Error Handling & Troubleshooting</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div id="business-admins">
    	<ul>
      	<li>
          <div class="link-box">
            <h2>RDF – SDK</h2>
            <h3>Build business logic to manage your data!</h3>
            <ul>
              <li>Getting Started including Data Classification and Data Framework Architecture</li>
              <li>Using the API</li>
              <li>Diagnostic Tracing and Reports</li>
              <li>Upgrading SDK</li>
              <li>Integrating with Tools</li>
              <li>Downloads</li>
              <li>FAQs</li>
              <li>Release Notes</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="link-box">
            <h2>RDF – SDK</h2>
            <h3>Develop user interface for next generation web apps!</h3>
            <ul>
              <li>Getting Started including UI Framework Architecture</li>
              <li>Using UI Framework Components</li>
              <li>Using UI Integration Framework</li>
              <li>Build Custom Apps</li>
              <li>Troubleshooting</li>
              <li>Upgrading SDK</li>
              <li>Integrating with Tools</li>
              <li>Downloads</li>
              <li>FAQs</li>
              <li>Release Notes</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="link-box">
            <h2>APIs</h2>
            <h3>Build business logic to manage your data!</h3>
            <ul>
              <li>Getting Started</li>
              <li>Pre-requisites for API Development</li>
              <li>Supported Services</li>
              <li>API Testing</li>
              <li>API Error Handling & Troubleshooting</li>
              <li>Supported Services</li>
              <li>API Testing</li>
              <li>API Error Handling & Troubleshooting</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>