<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <ul>
          <li><a href="#">Terms of Use</a>
          <li><a href="#">Maintenance Schedule</a></li>
          <li>Powered by<span><img src="/assets/footer-logo.png" width="80" height="15"></span></li>
        </ul>
      </div>
    </div>
  </div>
</footer>